.site-layout-content {
  background: var(--site-layout-background);
  padding: 24px;
  min-height: 280px;
  border-radius: 8px;
}



.header-title {
  color: var(--header-text-color);
  margin: 0;
  float: left;
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ant-card {
  background: var(--card-background-color) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--text-color) !important;
}

.ant-card-meta-title {
  color: var(--text-color) !important;
}

.ant-modal-content,
.ant-modal-header {
  background: var(--card-background-color) !important;
  color: var(--text-color) !important;
}

.ant-modal-title {
  color: var(--text-color) !important;
}

.ant-modal-close-x {
  color: var(--text-color) !important;
}

.ant-layout-header {
  background: var(--header-background) !important;
}

.ant-layout-footer {
  background: var(--footer-background) !important;
  color: var(--footer-text-color) !important;
}

/* Styles pour les composants custom */
.ant-typography,
h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography {
  color: var(--text-color) !important;
}

.ant-form-item-label > label {
  color: var(--text-color) !important;
}

.ant-input,
.ant-input-affix-wrapper,
.ant-input:focus,
.ant-input-focused {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--border-color) !important;
}

.ant-input::placeholder {
    color: var(--text-color) !important;
    opacity: 0.5;
}

.ant-tag {
    color: var(--text-color);
    background: var(--card-background-color);
    border-color: var(--border-color);
}

.ant-drawer-close {
  color: var(--text-color) !important;
}

/* Proactive fix for default buttons */
.ant-btn-default {
  background-color: var(--card-background-color) !important;
  color: var(--text-color) !important;
  border-color: var(--border-color) !important;
}

.ant-btn-default:hover, .ant-btn-default:focus {
  background-color: var(--card-background-color) !important;
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

/* Proactive fix for bold text */
strong, b {
  color: var(--text-color) !important;
}

/* --- Responsive --- */

.mobile-only {
  display: none !important;
}

.desktop-only {
  /* Default state is visible on desktop */
}

/* Breakpoint for tablets and mobile devices */
@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: inline-block !important;
  }
}